<div>
  <span>{{name}} : <b>{{ name | myRev }}</b></span>
  <br>
  <span>Addition of {{no}} with 3: <b>{{ no | myAdd : 3 }}</b></span>
  <br>
  <span>Multiplication of {{no}} with 3: <b>{{ no | myMult : 3 }}</b></span>
  <br>
  <span>{{no}} Is Even? : <b>{{ no | marvellousChk : 'Even' }}</b></span>
  <br>
  <span>{{no}} Is Odd? : <b>{{ no | marvellousChk : 'Odd' }}</b></span>
  <br>
  <span>{{no}} Is Prime? : <b>{{ no | marvellousChk : 'Prime' }}</b></span>
  <br>
  <span>{{no}} Is Perfect? : <b>{{ no | marvellousChk : 'Perfect' }}</b></span>
</div>