<div>
  <span>{{name}} : <b>{{ name | myRev }}</b></span>
  <br>
  <span>Addition of <b> "{{no}}" </b> with 3: <b>{{ no | myAdd : 3 }}</b></span>
  <br>
  <span>Multiplication of <b> "{{no}}" </b> with 3: <b>{{ no | myMult : 3 }}</b></span>
  <br>
  <span><b> "{{no}}" </b> Is Even? : <b>{{ no | marvellousChk : 'Even' }}</b></span>
  <br>
  <span><b> "{{no}}" </b> Is Odd? : <b>{{ no | marvellousChk : 'Odd' }}</b></span>
  <br>
  <span><b> "{{no}}" </b> Is Prime? : <b>{{ no | marvellousChk : 'Prime' }}</b></span>
  <br>
  <span><b> "{{no}}" </b> Is Perfect? : <b>{{ no | marvellousChk : 'Perfect' }}</b></span>
</div>